/*about page css*/

  /*hmtl*/
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html {
    background-color: #7ADDE8;
  }

  /*box*/
  .flex-container {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    margin-bottom: 20px;
}

  /*header*/
  a, li {
    display: inline;
    text-decoration: none;
    font-family: 'Lobster', cursive;
    padding: 10px;
    font-size: 22pt;
    color: black;
  }

  li:hover {
    color: #7ADDE8;
    cursor: pointer;
    text-decoration: underline;
  }

  @media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
        justify-content: center;
    }
  }

  /*content*/
  .flex-container2 {
    display: flex;
    background-color: white;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    background-color: white;
    border: 3px solid white;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 40px;
    position: relative;
  }

  @media (max-width: 800px) {
    .flex-container2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }

  @media (max-width: 300px) {
    .flex-container2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }

  h1 {
    color:#7ADDE8;
    font-family: 'Lobster' ,cursive;
    position: absolute;
    z-index: 1;
    top: -10px;
    font-size: 5em;
    margin-top: 40px;
    text-decoration: underline;
  }

  .davonne {
    width: 100%;
    height: auto;
    max-width: 330px;
    border-radius: 50%;
    padding: 20px;
    margin-top: 180px;
  }

  /*I cant get the picture of me to get smaller when you resize the screen. But then it does
  eventually get smaller when you reach a smaller screen size*/

  @media (max-width: 805px) {
    .davonne {
        width: 100%;
        height: auto;
        max-width: 330px;
        border-radius: 50%;
    }
  }

  p {
    margin-top: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18pt;
    padding: 20px;
    margin-top: 200px;
  }

  p:nth-of-type(1) {
    color:#7ADDE8;
    position: absolute;
    top: -5%;
    z-index: 1;
    font-family: 'Lobster', cursive;
    font-size: 24pt;
    margin-left: 320px;
  }

  /*have to get this line of text to be responsive with smaller screens like cell phones*/
  @media (max-width: 800px) {
    p:nth-of-type(1) {
      color:#7ADDE8;
      position: absolute;
      z-index: 1;
      font-family: 'Lobster', cursive;
      font-size: 24pt;
      top: 35%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  /*images and my interests*/
  h2 {
    display: inline;
    margin-bottom: 380px;
    position: absolute;
    font-family: 'Lobster', cursive;
    color: #7ADDE8;
    font-size: 20pt;
    text-decoration: underline;
  }

  .myInterests {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 4px;
    margin: 25px;
    background-color: white;
    max-width: 1300px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .myInterests img {
    width: 20%;
    height: 350px;
    object-fit: cover;
    padding: 0 4px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin: 10px;
    margin-top: 100px;
    margin-bottom: 80px;
  }

  .myLife:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
    cursor: pointer;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  
 /*footer*/
 footer {
  text-align: center;
  color: white;
  font-family: 'Lobster', cursive;
  padding: 20px;
 }