/*contact page  css*/

/*html*/
* {
    box-sizing: border-box;
}

html {
    background-image: url("images/clouds.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    margin: 0;
}

/*header*/
h1 {
    color: white;
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 4em;
    margin-top: 60px;
    text-decoration: underline;
}

.flex-container {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

ul {
    display: inline;
}

li {
    color: black;
    float: right;
    font-family: 'Lobster', cursive;
    font-size: 22pt;
    list-style-type: none;
    padding: 20px;
 }

li:hover {
    color: #7ADDE8;
    cursor: pointer;
    text-decoration: underline;
}

/*form*/
.container {
    width: 100%;
    height: auto;
    max-width: 900px;
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  label {
    font-size: 18pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    font-family: monospace;
    font-size: 14pt;
    border-radius: 8px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
input[type=submit] {
    background-color: lightblue;
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 14pt;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
  }
  
input[type=submit]:hover {
    color: burlywood;
  }
  
 /*footer*/
 footer {
    text-align: center;
    color: white;
    font-family: 'Lobster', cursive;
    padding: 20px;
   }