/*landing page css*/

/*html*/
body html {
    height: 100%;
    margin: 0;  
}

html {
    background-image: url("images/cloudsBirds.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100%;
}

/*header*/
.flex-container {
    display: flex; 
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.nav {
    display: flex;
    padding: 20px;
    font-family: 'Lobster', cursive; 
}

a, .links {
    color: white;
    text-decoration: none;
    font-size: 22pt;
    margin: 10px;
}

a, .links:hover {
    color: burlywood;
    text-decoration: underline;
}

/*media queries for navigation: flex-container*/
@media screen and (max-width: 360px) {
    .flex-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 375px) {
    .flex-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 414px) {
    .flex-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 481px) {
    .flex-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 547px) {
    .flex-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}
/*content*/
.content {
    margin-top: 250px;
    text-align: center;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 5em;
    color: white;
    text-decoration: underline;
    text-shadow: 2px 1px lightskyblue;
}

quote {
    font-family: sans-serif;
    color: white;
    font-size: 18pt;
}

/*footer*/
.socialMediaLink {
    padding: 20px;
    margin-top: 300px;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .socialMediaLink {
        margin-top: 500px;
    }
}

@media screen and (max-width: 354px) {
    .socialMediaLink {
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }
}
