/*landing page css*/

/*html*/
body html {
    height: 100%;
    margin: 0;  
}

html {
    background-image: url("images/cloudsBirds.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

/*header*/
.flex-container {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

ul {
    display: inline;
}

li {
    color: white;
    float: right;
    font-family: 'Lobster', cursive;
    font-size: 22pt;
    list-style-type: none;
    padding: 30px;
 }
    
li:hover {
    color: #F5D4A7;
    cursor: pointer;
    text-decoration: underline;
}

@media (max-width: 800px) {
    .flex-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
  } 

/*more queries to get nav list responsive with mobile devices*/
  @media (max-width: 900px) {
    .nav, li {
       display: flex;
       flex-direction: row;
       text-decoration: none;
       justify-content: center;
   }
 }

  @media (max-width: 360px) {
    .nav, li {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
  }

  @media (max-width: 375px) {
    .nav, li {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
  }

  @media (max-width: 414px) {
     .nav, li {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
  }

  @media (max-width: 540px) {
    .nav, li {
        display: flex;
        flex-direction: row;
        justify-content: center;
      
    }
  }
  
/*content*/
.content {
    margin-top: 250px;
    text-align: center;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 5em;
    color: white;
    text-decoration: underline;
    text-shadow: 2px 1px lightskyblue;
}

quote {
    font-family: sans-serif;
    color: white;
    font-size: 18pt;
}

/*footer*/

.socialMediaLink {
    padding: 20px;
    margin-top: 300px;
    cursor: pointer;
   
}